body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
}

main {
  flex: 1;
  padding: 2em;
}

.postlist {
  padding-left: 0;
  list-style-type: none;
}

.postlist li {
  margin-bottom: 2em;
  text-decoration: none;
}

.postlist a {
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

article h1 {
  font-size: 3rem;
}

article time {
  display: block;
  margin-bottom: 1em;
  margin-top: -1em;
}

header {
  border-bottom: 1px solid grey;
  padding: 1em;
  font-size: 1.8rem;
}

footer {
  border-top: 1px solid grey;
  padding: 2em;
}
