---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <main>
    <a href="/">KISS</a>
    <article>
      <h1>{title}</h1>
      <a href="http://kiss-everyone.world" title="live">
        <img src={heroImage} alt="live" /></a
      >
      <slot />
    </article>
  </main>
  <Footer />
</body>
